@import "./base";
.index-datalist {
  padding-bottom: 44px;
}

.footer .bottomBar .b-term:first-child {
  a {
    .underline {
      display: block;
    }

    .gps {
      background: url(../../assets/img/icon1.png) no-repeat;
      background-size: contain;
    }

    //.tel {
    //  background: url(/assets/img/icon3.png) no-repeat !important;
    //  background-size: contain !important;
    //}
  }
}

